<div class="row"  >
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-width: 300px; border-radius: 5px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}} ({{recipe.recipeType}})</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div  class="btn-group" appDropdownDeclaration>
            <button type="button" class="btn btn-primary dropdown-toggle" id="btnMenage" >Manage recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a  (click)="onAddToShoppingList()" style="cursor:pointer ;">To Shopping List</a></li>
                <li><a style="cursor:pointer ;" (click)="onEdit()">Edit Recipe</a></li>
                <li><a  style="cursor:pointer ;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" id="divDesc">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor=" let ingredient of recipe.ingredients ">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
            <li class="list-group-item">
                <button class="btn btn-danger" (click)="onShoppingList()">Proceed to Shopping-list</button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4 style="font-style:bold;">How to prepare:</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div style="background-color:lightgreen; border-radius: 3px; padding: 10px;">{{recipe.howToPrepare}}</div>
  </div>
</div>
