<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                  <div class="line"></div>
                    <button
                    type="submit"
                    class="btn btn-success"
                    style="margin-right: 10px; margin-bottom:20px"
                    [disabled]="!recipeForm.valid">{{editMode ? 'Save Update' : 'Save New Recipe'}}</button>
                    <button
                    type="button"
                    class="btn btn-danger"
                    style="margin-bottom:20px;"
                    (click)="onCancel()">Cancel
                </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                        type="text"
                        id="name"
                        class="form-control"
                        formControlName="name"
                        >
                        <span class="help-block" *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">This field is required !</span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input
                        type="text"
                        id="imagePath"
                        class="form-control"
                        formControlName="imagePath">
                        <span class="help-block" *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched">This field is required !</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="recipeForm.get('imagePath').value" class="img-responsive" style="max-width: 300px">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description" style="margin-top: 10px;">Description</label>
                        <textarea
                        type="text"
                        id="description"
                        class="form-control"
                        rows="6"
                        formControlName="description">
                    </textarea>
                    <span class="help-block" *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched">This field is required !</span>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientCtrl of getControls(); let i = index" [formGroupName]="i">
                        <div class="col-xs-8" >
                            <label for="ingredient">Ingredient name</label>
                            <input
                            type="text"
                            id="ingredient"
                            class="form-control"
                            formControlName="name">

                        </div>
                        <div class="col-xs-2">
                            <label for="amount">Amount</label>
                            <input
                            type="number"
                            id="amount"
                            class="form-control"
                            formControlName="amount">

                        </div>
                        <div class="col-xs-2">
                            <button
                            style="margin-top: 25px;"
                            class="btn btn-danger"
                            type="button"
                            (click)="onDeleteFormArray(i)">X
                            </button>
                        </div>
                        <span class="help-block" *ngIf="!recipeForm.get('ingredients').valid">Ingredient Name or Amount are incorrect!</span>
                    </div>
                    <hr>
                    <div class="row" >
                        <div class="col-xs-12">
                        <button
                        class="btn btn-success"
                        id="btnAdd"
                        type="button"
                        (click)="onAddFormArray()">Add Ingredient
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Recipe type:</label>
                  <div>
                    <input type="radio" name="recipeType" value="Greasy" formControlName="recipeType"><label for="" style="margin-left: 5px;">Greasy</label>
                  </div>
                  <div>
                    <input type="radio" name="recipeType" value="Fasten" formControlName="recipeType"><label for="" style="margin-left: 5px;">Fasten</label>
                  </div>
                  <span style="color: red;" *ngIf="!recipeForm.get('recipeType').touched">Please select one of types!</span>
                </div>
              </div>
            </div>

            <hr>
            <div class="row">
            <div class="col-xs-12">
                <label for="howTo">Describe how to prepare</label>
                <textarea
                class="form-control"
                name="howTo"
                id="howTo"
                cols="50"
                rows="5"
                formControlName="howToPrepare"></textarea>
                <span *ngIf="!recipeForm.get('howToPrepare').valid && recipeForm.get('howToPrepare').touched">This field is required!</span>
              </div>
            </div>
            <hr>

        </form>
    </div>
</div>
