<div class="row">
    <div class="col-xs-12 col-md-6" *ngIf="!emailSent" >
        
        <div>
            <h2>Let's get you into your account</h2>
            <hr>
        </div>

        <div *ngIf="authService.loadingSpinner" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form #forgotForm="ngForm" (ngSubmit)="onSubmitForm(forgotForm)" *ngIf="!authService.loadingSpinner" > 
            
        
            <div class="form-group">
                <label for="email">E-mail</label>
                <input 
                type="email" 
                id="email" 
                class="form-control"
                placeholder="Insert your email address"
                ngModel
                name="email"
                required
                email
                #email="ngModel"
                >
                <small *ngIf="!email.valid && email.touched">This field is requred *</small>

                <app-alert *ngIf="authService.isError"></app-alert>
                
            </div>
           
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!forgotForm.valid">Continue</button>
            </div>
        </form>
    </div>
    
</div>
<div class="row" *ngIf="emailSent">
    <div class="col-xs-12 col-md-6">
        <h2>EMAIL SENT</h2>
        <p>Check your inbox and click on the link to reset your password</p>
        <a routerLink="/auth">Go back to login</a>
    </div>
</div>
